app/static/pug/agreement.pug
extends _layout.pug

block content
	.agreement.gray-bg
		include _breadcrumbs.pug
		.container
			.row
				.col-md-12
					h2.agreement__title.
						пользовательское соглашение
					.agreement__content
						p.agreement__subcontent.
							Одной из первых стран, где доставка пиццы получила широкое распространение, стали США. После Второй мировой войны бывшими солдатами там было основано большое количество пиццерий. О таком блюде, как пицца, они узнали, находясь на службе в Италии. В 1950—1960 годах в северной Европе, в таких странах как Германия, Бельгия и Голландия, пиццерии получили большое распространение также благодаря итальянским иммигрантам.
						h4.agreement__subtitle.
							термины и определения
						p.agreement__subcontent.
							О таком блюде, как пицца, они узнали, находясь на службе в Италии. В 1950—1960 годах в северной Европе, в таких странах как Германия, Бельгия и Голландия, пиццерии получили большое распространение также благодаря итальянским иммигрантам. 
						ol
							li
								h4 Основные положения:
								ol
									li.
										Поскольку философия состоит из рациональных рассуждений, логика является первичным атрибутом философии. Для анализа различных философских концепций, для их сопоставления друг с другом необходимо проведение критического анализа (англ.)русск. различных философских утверждений и теорий.
									li.
										В связи с тем, что человеческое мышление формулируется текстуально, логика тесно связана с анализом текстов и языков. Логика формализует текстуальное рассуждение и определяет его формы, которые приемлемы для анализа. Первым шагом к логической формализации рассуждения послужило выявление силлогизмов, или рассуждений вида.
										При всей своей кажущейся простоте выделение силлогизмов из обычной человеческой речи произошло не сразу и не везде[прим. 2]. Выделению силлогизмов как способа доказательства способствовало сочетание философии и математики, распространённое в Древней Греции.
									li.
										Первое формальное изложение понятия силлогизма и простейшей логической системы было сделано Аристотелем[⇨]. Логика Аристотеля оставалась неизменной две тысячи лет, до начала XX века, когда исследования в математике и аналитической философии открыли дорогу для развития логики[⇨]. Была формализована «логика первого порядка» или «логика предикатов», которая к настоящему моменту хорошо изучена. Однако, как оказалось, для полноценного анализа философской аргументации, а тем более естественной человеческой речи требуется применение модальной логики и логик более высоких порядков, в частности логики второго порядка. Кроме этого взаимосвязь формального символического языка и естественной речи исследуют логическая семантика и семиотика. Эти дисциплины в совокупности с модальной логикой более высоких порядков продолжают оставаться областью активных междисциплинарных исследований.
									li.
										Современная логика состоит из нетривиальных, глубоко математических концепций, которые изучаются философами, математиками, лингвистами, а в последнее время ещё и программистами и специалистами в области теории решений и искусственного интеллекта. Логика, таким образом, является как одной из самых древних, так и одной из самых современных дисциплин

public_html/html/agreement.html
<!DOCTYPE html>
<html class="page" lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1.0, shrink-to-fit=no"/>
    <title>Tamaq</title>
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/vendor/bootstrap-select/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/vendor/slick/slick-theme.css"/>
    <link rel="stylesheet" href="/vendor/fancybox/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/vendor/fontawesome-5.5.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&amp;amp;subset=cyrillic"/>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/default.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png"/>
    <link rel="manifest" href="/manifest.json"/>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi8IU4G_sXvagrmFeK2Nr2jGw8y0DyDso"></script>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>
  </head>
  <body>
    <div class="mobile-app disable">
      <div class="mobile-app-container"><a class="mobile-app-link" href="https://play.google.com/store/apps/details?id=com.google.android.apps.tasks&amp;utm_source=Test&amp;utm_campaign=Test&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img class="mobile-app-image" src="https://play.google.com/intl/en_us/badges/images/generic/ru_badge_web_generic.png" alt="Доступно в Google Play"/></a><a class="mobile-app-link" href="https://play.google.com/store/apps/details?id=com.google.android.apps.tasks&amp;utm_source=Test&amp;utm_campaign=Test&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img class="mobile-app-image mobile-app-apple" src="/img/mobile-icon/Download_on_the_App_Store.svg" alt="Доступно в Google Play"/></a></div>
      <div class="mobile-app-close"><i class="fas fa-chevron-up"></i></div>
    </div>
    <div class="page-inner addTopApp">
      <header role="banner">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3">
              <div class="logo-wrap"><a class="logo" href="/"><img src="/img/logo_1.png" alt=""/></a></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5">
              <form class="search-wrap" action="#" method="GET">
                <div class="input-group">
                  <button class="search-button" type="submit"></button>
                  <input class="form-control search-input" type="text" placeholder="Ресторан или блюдо" data-toggle="popover" data-content="Поисковая строка поможет найти Вам любимое блюдо либо ресторан" data-trigger="hover" data-placement="left"/>
                </div>
                <p class="search-title noselect">Популярные запросы: <b class="popular-query">Как заказать? , Отзывы </b></p>
              </form>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
              <div class="h-info">
                <div class="h-button">
                  <button class="btn auth-button" data-toggle="modal" data-target="#main-modal">вход / регистрация</button>
                  <div class="button-bonus" data-toggle="popover" data-content="Для того, чтобы получать бонусы от каждой покупки, зарегистрируйтесь или войдите в свой личный кабинет" data-trigger="hover"><a class="button-bonus__present" href="#"></a></div>
                </div>
                <div class="h-phone">
                  <p class="h-phone-text noselect">Позвонить нам:</p><a href="tel:+71234567890">+7 123 456 78 90</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main class="page-content">
        <div class="agreement gray-bg">
          <div class="container">
            <div class="row">
              <ul class="breadcrumb">
                <li class="active">Главная</li>
                <li><a href="#">Не главная</a></li>
              </ul>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2 class="agreement__title">пользовательское соглашение</h2>
                <div class="agreement__content">
                  <p class="agreement__subcontent">Одной из первых стран, где доставка пиццы получила широкое распространение, стали США. После Второй мировой войны бывшими солдатами там было основано большое количество пиццерий. О таком блюде, как пицца, они узнали, находясь на службе в Италии. В 1950—1960 годах в северной Европе, в таких странах как Германия, Бельгия и Голландия, пиццерии получили большое распространение также благодаря итальянским иммигрантам.</p>
                  <h4 class="agreement__subtitle">термины и определения</h4>
                  <p class="agreement__subcontent">О таком блюде, как пицца, они узнали, находясь на службе в Италии. В 1950—1960 годах в северной Европе, в таких странах как Германия, Бельгия и Голландия, пиццерии получили большое распространение также благодаря итальянским иммигрантам. </p>
                  <ol>
                    <li>
                      <h4>Основные положения:</h4>
                      <ol>
                        <li>Поскольку философия состоит из рациональных рассуждений, логика является первичным атрибутом философии. Для анализа различных философских концепций, для их сопоставления друг с другом необходимо проведение критического анализа (англ.)русск. различных философских утверждений и теорий.</li>
                        <li>
                          В связи с тем, что человеческое мышление формулируется текстуально, логика тесно связана с анализом текстов и языков. Логика формализует текстуальное рассуждение и определяет его формы, которые приемлемы для анализа. Первым шагом к логической формализации рассуждения послужило выявление силлогизмов, или рассуждений вида.
                          При всей своей кажущейся простоте выделение силлогизмов из обычной человеческой речи произошло не сразу и не везде[прим. 2]. Выделению силлогизмов как способа доказательства способствовало сочетание философии и математики, распространённое в Древней Греции.
                        </li>
                        <li>Первое формальное изложение понятия силлогизма и простейшей логической системы было сделано Аристотелем[⇨]. Логика Аристотеля оставалась неизменной две тысячи лет, до начала XX века, когда исследования в математике и аналитической философии открыли дорогу для развития логики[⇨]. Была формализована «логика первого порядка» или «логика предикатов», которая к настоящему моменту хорошо изучена. Однако, как оказалось, для полноценного анализа философской аргументации, а тем более естественной человеческой речи требуется применение модальной логики и логик более высоких порядков, в частности логики второго порядка. Кроме этого взаимосвязь формального символического языка и естественной речи исследуют логическая семантика и семиотика. Эти дисциплины в совокупности с модальной логикой более высоких порядков продолжают оставаться областью активных междисциплинарных исследований.</li>
                        <li>Современная логика состоит из нетривиальных, глубоко математических концепций, которые изучаются философами, математиками, лингвистами, а в последнее время ещё и программистами и специалистами в области теории решений и искусственного интеллекта. Логика, таким образом, является как одной из самых древних, так и одной из самых современных дисциплин</li>
                      </ol>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer role="contentinfo">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 none-padding">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <ul class="f-nav">
                  <li class="f-nav-item"><a class="f-nav-item-link" href="/html/about-us.html">о нас</a></li>
                  <li class="f-nav-item"><a class="f-nav-item-link" href="/html/news.html">новости</a></li>
                  <li class="f-nav-item"><a class="f-nav-item-link" href="/html/shares.html">акции</a></li>
                  <li class="f-nav-item"><a class="f-nav-item-link" href="/html/contacts.html">контакты</a></li>
                  <li class="f-nav-item"><a class="f-nav-item-link" href="/html/delivery.html">Доставка и оплата</a></li>
                  <li class="f-nav-item"><a class="f-nav-item-link" href="/html/agreement.html">пользовательское соглашение</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 none-padding">
                <div class="f-links gray-bg">
                  <div class="f-link"><a class="f-link-pic" href="#"><img src="/img/icons/car.png" alt=""/></a>
                    <div class="f-link-info">
                      <div class="f-link-title">У вас есть транспорт?</div><a class="f-link-subtitle" href="#">Зарабатывайте</a>
                    </div>
                  </div>
                  <div class="f-link"><a class="f-link-pic" href="#"><img src="/img/icons/pizza.png" alt=""/></a>
                    <div class="f-link-info">
                      <div class="f-link-title">вы вкусно готовите?</div><a class="f-link-subtitle" href="#">Добавьте свои блюда</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
              <div class="social-buttons-wrap">
                <p class="social-buttons-title">мы в соцсетях:</p>
                <div class="social-buttons light-social-buttons"><a class="social-button" href="#"><i class="fab fa-twitter"></i></a><a class="social-button" href="#"><i class="fab fa-instagram"></i></a><a class="social-button" href="#"><i class="fab fa-facebook"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </footer><a class="button-up" href="#" id="button-up">Наверх</a>
      <div class="modal fade" id="main-modal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">вход</a></li>
                <li><a href="#profile" data-toggle="tab">регистрация</a></li>
              </ul>
              <button class="close" type="button" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
              <div class="tab-content">
                <form class="tab-pane active" id="home">
                  <div class="form-group">
                    <input class="form-control form-error" type="text" placeholder="Номер телефона" name="login"/>
                    <p class="form-error__desc">Неверный номер</p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="password" placeholder="Пароль" name="password"/>
                  </div>
                  <div class="form-control__password"><a href="#">Забыли пароль?</a></div>
                  <div class="share__buy-wrap"><a class="share__buy" href="#">Войти</a></div>
                  <div class="form-control__authorization">Авторизация через соцсети:</div>
                  <div class="icon">
                    <div class="icon_i"><i class="fab fa-facebook-f"></i></div>
                    <div class="icon_i"><i class="fab fa-vk"></i></div>
                  </div>
                </form>
                <form class="tab-pane" id="profile">
                  <div class="form-group">
                    <label for="name">Ваше имя</label>
                    <input class="form-control" type="text" ="" name="name" id="name"/>
                  </div>
                  <div class="form-group">
                    <label for="number">Телефон</label>
                    <input class="form-control" type="phone" ="" name="number" id="number"/>
                  </div>
                  <div class="form-group">
                    <label for="pass">Пароль</label>
                    <input class="form-control" type="password" ="" name="pass" id="pass"/>
                  </div>
                  <div class="share__buy-wrap"><a class="share__buy" href="#">Зарегистрироваться</a></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="bonus-modal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" type="button" data-dismiss="modal">×</button>
              <h6 class="modal-title"> <a href="#">бонусы</a></h6>
            </div>
            <div class="modal-body"> 	Для того, чтобы получать бонусы от каждой покупки, зарегистрируйтесь или войдите в свой личный кабинет</div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="find-me-modal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-map" id="map-modal"></div>
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal">×</button>
          </div>
          <form class="modal-map-panel" data-panel="panel">
            <div class="modal-panel-window">
              <div class="modal-panel-select">
                <div class="modal-map-title">Алматы</div>
                <label class="modal-map-street"><span>Укажите улицу</span>
                  <input class="form-control" required="required" type="text" name="custom-street"/>
                </label>
                <label class="modal-map-house"><span>Укажите дом</span>
                  <input class="form-control" required="required" type="text" name="custom-house"/>
                </label>
              </div>
              <div class="modal-adress hide fade">
                <div class="modal-map-desc">Адрес доставки:</div>
                <div class="modal-map-title">Алматы, Кунаева 21б</div>
              </div>
            </div>
            <div class="modal-panel-control">
              <div class="control-okay control-button">Да это верный адрес</div>
              <div class="control-no control-button">Ввести вручную</div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/bootstrap/bootstrap.min.js"></script>
    <script src="../../vendor/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="../../vendor/slick/slick.min.js"></script>
    <script src="../../vendor/fancybox/jquery.fancybox.min.js"></script>
    <script src="../js/all.min.js"></script>
  </body>
</html>
