app/static/pug/cabinet-customer-redact.pug
extends _layout-cabinet.pug

block content
	- var bread = [{title:'Главная', url:'../html/index.html'}, {title:'Личный кабинет',url:'#'}];
	include _breadcrumbs-variable.pug
	- var username = 'константин константинопольский';
	include _user-name--title.pug
	- var nav = [{title:'история заказов', url:'/html/cabinet-customer-history.html'}, {title:'Мои отзывы',url:'/html/cabinet-customer-reviews.html'}, {title:'Избранные рестораны',url:'/html/cabinet-customer-restolike.html'}, {title:'чат с менеджером',url:'/html/cabinet-customer-chat.html'}];
	include _account_content
	include _nav.pug
	.container
		.restoraunt-side__title Редактировать данные
	.container
		.row
			.col-lg-9.col-xs-12.mt-15
				table(border="0" style="width:100%").clear__table
					tr
						th
						th
						th
					tr
						td
							span.settings-table__label Ваше имя:
						td
							input.settings-table__input 
						td
					tr
						td
							span.settings-table__label Фамилия:
						td
							input.settings-table__input 
						td
					tr
						td
							span.settings-table__label Телефон:
						td
							input.settings-table__input 
						td
					tr
						td
							span.settings-table__label Адрес:
						td
							input.settings-table__input 
						td
							span.settings-table__delete.d-xs-none Удалить
							span.settings-table__delete.settings-table__delete--small ×
					tr
						td
						td
							input.settings-table__input
						td
							span.settings-table__delete.d-xs-none Удалить
							span.settings-table__delete.settings-table__delete--small ×
					tr
						td
						td
							span.settings-table__added Добавить ещё адрес
						td
					tr
						td
							span.settings-table__label Новый пароль:
						td
							input.settings-table__input
						td
					tr
						td
						td
							.wrap.mt-15
								a(href="").button-standard.mi-w150.mb-15.button-standard--orange Сохранить
								a(href="").button-standard.mi-w150.mb-15 Отмена
						td

public_html/html/cabinet-customer-redact.html
<!DOCTYPE html>
<html class="page" lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1.0, shrink-to-fit=no"/>
    <title>Tamaq</title>
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/vendor/bootstrap-select/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/vendor/slick/slick-theme.css"/>
    <link rel="stylesheet" href="/vendor/fancybox/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/vendor/fontawesome-5.5.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&amp;amp;subset=cyrillic"/>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/default.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png"/>
    <link rel="manifest" href="/manifest.json"/>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi8IU4G_sXvagrmFeK2Nr2jGw8y0DyDso"></script>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>
  </head>
  <body>
    <div class="page-inner addTopApp">
      <header role="banner">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3">
              <div class="logo-wrap"><a class="logo" href="/"><img src="/img/logo_1.png" alt=""/></a></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5">
              <form class="search-wrap" action="#" method="GET">
                <div class="input-group">
                  <button class="search-button" type="submit"></button>
                  <input class="form-control search-input" type="text" placeholder="Ресторан или блюдо" data-toggle="popover" data-content="Поисковая строка поможет найти Вам любимое блюдо либо ресторан" data-trigger="hover" data-placement="left"/>
                </div>
                <p class="search-title noselect">Популярные запросы: <b class="popular-query">Как заказать? , Отзывы </b></p>
              </form>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
              <div class="h-info">
                <div class="h-button">
                  <button class="btn auth-button lk-button">Константин Константинопольский<i class="fas fa-chevron-down lk-button__chevron"></i></button>
                </div>
                <div class="h-phone">
                  <p class="h-phone-text noselect">Позвонить нам:</p><a href="tel:+71234567890">+7 123 456 78 90</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main class="page-content page-content--gray">
        <div class="container">
          <div class="row">
            <ul class="breadcrumb">
              <li><a href="../html/index.html">Главная</a></li>
              <li><a href="#">Личный кабинет</a></li>
            </ul>
          </div>
        </div>
        <div class="container">
          <div class="user-name__title">константин константинопольский</div>
        </div>
        <div class="container">
          <div class="account mt-30">
            <div class="account__info">
              <div class="account__info-block"><span class="account__info-block__item">Телефон:</span><span class="account__info-block__number">+77073535119</span></div>
              <div class="account__info-block">   <span class="account__info-block__item">Адрес:</span><span class="account__info-block__text">Такой-то такой-то</span>
                <div class="dropdown account-dropdown">
                  <button class="dropdown-toggle" id="dropdownMenu1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span>Еще 3 адреса</button>
                  <ul class="dropdown-menu drop-menu menu-2 dre" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Адрес 1</a></li>
                    <li><a href="#">Адрес 2</a></li>
                    <li><a href="#">Адрес 3</a></li>
                    <li><a href="#">Адрес 4</a></li>
                  </ul>
                </div>
              </div>
              <div class="account__info-block"><span class="account__info-block__item">Бонусов:</span><span class="account__info-block__number">3400</span><a class="account__info__link" href="/html/cabinet-customer-bonus.html">История бонусов</a></div>
            </div>
            <div class="account__info">
              <button class="btn button account__info__item">Редактировать данные</button>
            </div>
          </div>
        </div>
        <div class="container-fluid white-bg mb-30 mt-25" style="padding:0!important;">
          <div class="container">
            <ul class="navbar-cabinet">
              <li><a href="/html/cabinet-customer-history.html">история заказов</a></li>
              <li><a href="/html/cabinet-customer-reviews.html">Мои отзывы</a></li>
              <li><a href="/html/cabinet-customer-restolike.html">Избранные рестораны</a></li>
              <li><a href="/html/cabinet-customer-chat.html">чат с менеджером</a></li>
            </ul>
          </div>
        </div>
        <div class="container">
          <div class="restoraunt-side__title">Редактировать данные</div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-xs-12 mt-15">
              <table class="clear__table" border="0" style="width:100%">
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                <tr>
                  <td><span class="settings-table__label">Ваше имя:</span></td>
                  <td>
                    <input class="settings-table__input"/>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td><span class="settings-table__label">Фамилия:</span></td>
                  <td>
                    <input class="settings-table__input"/>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td><span class="settings-table__label">Телефон:</span></td>
                  <td>
                    <input class="settings-table__input"/>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td><span class="settings-table__label">Адрес:</span></td>
                  <td>
                    <input class="settings-table__input"/>
                  </td>
                  <td><span class="settings-table__delete d-xs-none">Удалить</span><span class="settings-table__delete settings-table__delete--small">×</span></td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <input class="settings-table__input"/>
                  </td>
                  <td><span class="settings-table__delete d-xs-none">Удалить</span><span class="settings-table__delete settings-table__delete--small">×</span></td>
                </tr>
                <tr>
                  <td></td>
                  <td><span class="settings-table__added">Добавить ещё адрес</span></td>
                  <td></td>
                </tr>
                <tr>
                  <td><span class="settings-table__label">Новый пароль:</span></td>
                  <td>
                    <input class="settings-table__input"/>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <div class="wrap mt-15"><a class="button-standard mi-w150 mb-15 button-standard--orange" href="">Сохранить</a><a class="button-standard mi-w150 mb-15" href="">Отмена</a></div>
                  </td>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </main>
      <footer role="contentinfo">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 none-padding">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <ul class="f-nav">
                  <li class="f-nav-item"><a class="f-nav-item-link" href="/html/about-us.html">о нас</a></li>
                  <li class="f-nav-item"><a class="f-nav-item-link" href="/html/news.html">новости</a></li>
                  <li class="f-nav-item"><a class="f-nav-item-link" href="/html/shares.html">акции</a></li>
                  <li class="f-nav-item"><a class="f-nav-item-link" href="/html/contacts.html">контакты</a></li>
                  <li class="f-nav-item"><a class="f-nav-item-link" href="/html/delivery.html">Доставка и оплата</a></li>
                  <li class="f-nav-item"><a class="f-nav-item-link" href="/html/agreement.html">пользовательское соглашение</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 none-padding">
                <div class="f-links gray-bg">
                  <div class="f-link"><a class="f-link-pic" href="#"><img src="/img/icons/car.png" alt=""/></a>
                    <div class="f-link-info">
                      <div class="f-link-title">У вас есть транспорт?</div><a class="f-link-subtitle" href="#">Зарабатывайте</a>
                    </div>
                  </div>
                  <div class="f-link"><a class="f-link-pic" href="#"><img src="/img/icons/pizza.png" alt=""/></a>
                    <div class="f-link-info">
                      <div class="f-link-title">вы вкусно готовите?</div><a class="f-link-subtitle" href="#">Добавьте свои блюда</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
              <div class="social-buttons-wrap">
                <p class="social-buttons-title">мы в соцсетях:</p>
                <div class="social-buttons light-social-buttons"><a class="social-button" href="#"><i class="fab fa-twitter"></i></a><a class="social-button" href="#"><i class="fab fa-instagram"></i></a><a class="social-button" href="#"><i class="fab fa-facebook"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </footer><a class="button-up" href="#" id="button-up">Наверх</a>
      <div class="modal fade" id="main-modal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">вход</a></li>
                <li><a href="#profile" data-toggle="tab">регистрация</a></li>
              </ul>
              <button class="close" type="button" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
              <div class="tab-content">
                <form class="tab-pane active" id="home">
                  <div class="form-group">
                    <input class="form-control form-error" type="text" placeholder="Номер телефона" name="login"/>
                    <p class="form-error__desc">Неверный номер</p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="password" placeholder="Пароль" name="password"/>
                  </div>
                  <div class="form-control__password"><a href="#">Забыли пароль?</a></div>
                  <div class="share__buy-wrap"><a class="share__buy" href="#">Войти</a></div>
                  <div class="form-control__authorization">Авторизация через соцсети:</div>
                  <div class="icon">
                    <div class="icon_i"><i class="fab fa-facebook-f"></i></div>
                    <div class="icon_i"><i class="fab fa-vk"></i></div>
                  </div>
                </form>
                <form class="tab-pane" id="profile">
                  <div class="form-group">
                    <label for="name">Ваше имя</label>
                    <input class="form-control" type="text" ="" name="name" id="name"/>
                  </div>
                  <div class="form-group">
                    <label for="number">Телефон</label>
                    <input class="form-control" type="phone" ="" name="number" id="number"/>
                  </div>
                  <div class="form-group">
                    <label for="pass">Пароль</label>
                    <input class="form-control" type="password" ="" name="pass" id="pass"/>
                  </div>
                  <div class="share__buy-wrap"><a class="share__buy" href="#">Зарегистрироваться</a></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="bonus-modal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" type="button" data-dismiss="modal">×</button>
              <h6 class="modal-title"> <a href="#">бонусы</a></h6>
            </div>
            <div class="modal-body"> 	Для того, чтобы получать бонусы от каждой покупки, зарегистрируйтесь или войдите в свой личный кабинет</div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="find-me-modal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-map" id="map-modal"></div>
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal">×</button>
          </div>
          <form class="modal-map-panel" data-panel="panel">
            <div class="modal-panel-window">
              <div class="modal-panel-select">
                <div class="modal-map-title">Алматы</div>
                <label class="modal-map-street"><span>Укажите улицу</span>
                  <input class="form-control" required="required" type="text" name="custom-street"/>
                </label>
                <label class="modal-map-house"><span>Укажите дом</span>
                  <input class="form-control" required="required" type="text" name="custom-house"/>
                </label>
              </div>
              <div class="modal-adress hide fade">
                <div class="modal-map-desc">Адрес доставки:</div>
                <div class="modal-map-title">Алматы, Кунаева 21б</div>
              </div>
            </div>
            <div class="modal-panel-control">
              <div class="control-okay control-button">Да это верный адрес</div>
              <div class="control-no control-button">Ввести вручную</div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/bootstrap/bootstrap.min.js"></script>
    <script src="../../vendor/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="../../vendor/slick/slick.min.js"></script>
    <script src="../../vendor/fancybox/jquery.fancybox.min.js"></script>
    <script src="../js/all.min.js"></script>
  </body>
</html>
